/* constructs.css */

/* contain */

.contain {}
.contain:after {
    content: '';
    display: block;
    clear: both;
}

/* menu */

.menu ul {
    margin: 0;
    padding: 0;
}
.menu li {
    list-style: none;
}
.menu a {
    display: block;
    white-space: nowrap;
    text-decoration: none;
}

.menu .page_item_has_children > a:after,
.menu .menu-item-has-children > a:after {
    content: '+';
    margin-left: .25em;
}

.menu .current_page_ancestor,
.menu .current_page_parent,
.menu .current_page_item,
.menu .current-menu-ancestor,
.menu .current-menu-parent,
.menu .current-menu-item {}

.menu .current_page_ancestor > a,
.menu .current_page_parent > a,
.menu .current_page_item > a,
.menu .current-menu-ancestor > a,
.menu .current-menu-parent > a,
.menu .current-menu-item > a {
    color: red;
}

/* menu horizontal */

.menu.horizontal {
    margin-left: -.6em;
}
.menu.horizontal a {
    padding: .3em .6em .25em;
    text-decoration: none;
}
.menu.horizontal li {
    list-style: none;
    position: relative; z-index: 1;
}
.menu.horizontal > ul li:hover > ul {
    display: block;
}
.menu.horizontal > ul > li {
    display: inline-block;
    vertical-align: middle;
}
.menu.horizontal > ul > li:hover {
    z-index: 2;
}
.menu.horizontal > ul > li ul {
    display: none;
    position: absolute; top: 0; left: 100%;
    min-width: 100%;
}
.menu.horizontal > ul > li > ul {
    display: none;
    top: 100%; left: 0;
}

.menu.horizontal > ul > .page_item_has_children > a:after,
.menu.horizontal > ul > .menu-item-has-children > a:after {
    display: none;
}

.menu.horizontal > ul > li:hover,
.menu.horizontal > ul > .page_item_has_children:hover,
.menu.horizontal > ul > .page_item_has_children:hover ul,
.menu.horizontal > ul > .menu-item-has-children:hover,
.menu.horizontal > ul > .menu-item-has-children:hover ul {
    background-color: #eee;
}

.menu.horizontal > ul > li:hover ul,
.menu.horizontal > ul > .current_page_ancestor,
.menu.horizontal > ul > .current_page_parent,
.menu.horizontal > ul > .current_page_item,
.menu.horizontal > ul > .current-menu-ancestor,
.menu.horizontal > ul > .current-menu-parent,
.menu.horizontal > ul > .current-menu-item {
    background-color: #fff;
}

.menu.horizontal > ul > .current_page_ancestor:hover,
.menu.horizontal > ul > .current_page_parent:hover,
.menu.horizontal > ul > .current_page_item:hover,
.menu.horizontal > ul > .current_page_ancestor:hover ul,
.menu.horizontal > ul > .current_page_parent:hover ul,
.menu.horizontal > ul > .current_page_item:hover ul,
.menu.horizontal > ul > .current-menu-ancestor:hover,
.menu.horizontal > ul > .current-menu-parent:hover,
.menu.horizontal > ul > .current-menu-item:hover,
.menu.horizontal > ul > .current-menu-ancestor:hover ul,
.menu.horizontal > ul > .current-menu-parent:hover ul,
.menu.horizontal > ul > .current-menu-item:hover ul {
    background-color: #fff;
}
