/* custom */

/* fonts */

	html,
	body,
	button,
	input,
	select,
	textarea {
		font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
		font-weight: 400;
	}

/* base */

	* {
		box-sizing: border-box;
	}

	html, body {
		height: 100%;
	}

/* anchors */

	a {
		color: inherit;
	}
	a:hover,
	a:active {
		outline: 0;
		text-decoration: underline;
	}

	a img {
		border: 0;
	}
	a:hover img,
	a:active img {}

	address a,
	address a:hover,
	a[href^="tel:"],
	a[href^="tel:"]:hover,
	a[href^="tel:"]:hover * {
		text-decoration: none;
		color: inherit;
		/* cursor: text; */
	}

/* layout */

	html, body {
		min-width: 320px;
	}

	body {
		margin: 0;
		padding: 0;
		background-color: rgba(0,0,0,.1);
	}

	#top {
		background-color: #fff;
	}

	#header,
	#footer,
	#content {
		margin: 0;
	}

	#header > .inner,
	#footer > .inner,
	#content > .inner {
		margin: 0 auto;
		max-width: 320px;
	}

	#header > .inner,
	#footer > .inner,
	#content > .inner {
		padding: 0 5%;
	}

	#header,
	#footer {
		padding: 1em 0 0;
	}

	#footer,
	#content {
		clear: both;
	}

	#header {
		background-color: rgba(0,0,0,.1);
	}

	#primary,
	#secondary {
		margin: 0;
		padding: 1em 0;
	}

	#primary {}
	#secondary {}

/* article */

	article {
		position: relative;
	}

	article .header {}
	article .content {}
	article .footer {}

	article .edit {
		position: absolute; top: 0; right: 0;
		opacity: 0;
	}
	article .edit > a {
		padding: .25em .6em;
		background-color: red;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 12px;
		color: #fff;
	}

	article:hover .edit {
		display: block;
	}

/* responsive */

@media (min-width: 480px){

	#header > .inner,
	#footer > .inner,
	#content > .inner {
		max-width: 480px;
	}

}
@media (min-width: 768px){

	#header > .inner,
	#footer > .inner,
	#content > .inner {
		max-width: 768px;
	}

	#primary {
		float: left;
		width: 70%;
		padding-right: 1em;
	}

	#secondary {
		float: right;
		width: 30%;
		padding-left: 1em;
	}

	#primary > .inner,
	#secondary > .inner {
		max-width: none;
	}

}
@media (min-width: 1024px){

	#header > .inner,
	#footer > .inner,
	#content > .inner {
		max-width: 1024px;
	}

}
@media (min-width: 1280px){

	#header > .inner,
	#footer > .inner,
	#content > .inner {
		max-width: 1280px;
		padding: 0 64px;
	}

}
