/* custom.css */

/* anchors */

a {
    color: inherit;
}

a:hover,
a:active {
    outline: 0;
    text-decoration: underline;
}

a img {
    border: 0;
}

/* base */

html, body {
    min-width: 320px;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgba(0,0,0,.1);
}

/* structure */

#top {
    background-color: #fff;
}

#header,
#footer,
#content {
    margin: 0;
}

#header > .inner,
#footer > .inner,
#content > .inner {
    margin: 0 auto;
    padding: 0 5%;
    /* max-width: 320px; */
    max-width: 1440px;
}

/*
@media (min-width: 480px) {

    #header > .inner,
    #footer > .inner,
    #content > .inner {
        max-width: 480px;
    }
}

@media (min-width: 768px) {

    #header > .inner,
    #footer > .inner,
    #content > .inner {
        max-width: 768px;
    }
}

@media (min-width: 1024px) {

    #header > .inner,
    #footer > .inner,
    #content > .inner {
        max-width: 1024px;
    }
}

@media (min-width: 1280px) {

    #header > .inner,
    #footer > .inner,
    #content > .inner {
        max-width: 1280px;
    }
}
*/
@media (min-width: 1440px) {

    #header > .inner,
    #footer > .inner,
    #content > .inner {
        /* max-width: 1440px; */
        padding: 0 72px; /* (1440 * 5%) / 2 */
    }
}

/* header */

#header {}
#header {
    padding: 1em 0 0;
    background-color: rgba(0,0,0,.1);
}
#header > .inner {}
#header-menu {
    margin-top: 1em;
}

/* footer */

#footer {
    text-align: center;
    padding: 1em 0;
}
#footer > .inner {
    position: relative;
}
#footer .return {
}

@media (min-width: 480px) {

    #footer .menu {
        float: left;
        margin: 0 0 1.6rem;
    }
    #footer .social {
        clear: both;
    }
    #footer .return {
        position: absolute; top: 0; right: 5%;
    }
}

@media (min-width: 1440px) {

    #footer .return {
        right: 72px;
    }
}

#footer .credit {
    margin-top: 0;
}

/* content */

#content {}

#primary,
#secondary {
    margin: 0;
    padding: 1em 0;
}

#primary {}
#secondary {}

@media (min-width: 480px) {

    #primary {
        float: left;
        width: 60%;
        padding-right: 1.2em;
    }

    #secondary {
        float: right;
        width: 40%;
        padding-left: 1.2em;
    }
    }

    @media (min-width: 1024px) {

    #primary {
        width: 70%;
    }

    #secondary {
        width: 30%;
    }
}

/* article */

article {
    position: relative;
}

article .header {}
article .content {}
article .footer {}

article .header + .content {
    /* margin-top: 0; */
}

article .edit {
    display: none;
    position: absolute; top: 0; right: 0;
    margin-top: 0;
}
article .edit > a {
    padding: .25em .6em;
    background-color: red;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    color: #fff;
}

article:hover > .edit,
article:hover > .inner > .edit {
    display: block;
}
